<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChaozhouTax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03AE631A1F8F44C900FF6C10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03AE63331F8F44CA00FF6C10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03AE633E1F8F44CA00FF6C10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
